{% extends 'recipes/base.html' %}

{% block title %}Wyszukiwarka Przepisów{% endblock %}

{% block content %}
<h2>Wyszukaj przepis</h2>
<form method="GET" action="{% url 'search' %}">
    <input type="text" name="q"  value="{{ request.GET.q }}">
    <button type="submit">Szukaj</button>
</form>

{% if results %}
    <ul>
        {% for recipe in results %}
            <li>
                <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.title }}</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Nie znaleziono przepisu.</p>
{% endif %}
{% endblock %}

